<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <h1>INFLOW</h1>
    <form action="/newInflow" method="POST">
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" name="date" id="date" value=<%= today %> class="form-control">
        </div>
        <br>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" placeholder="amount" step="0.01" class="form-control"> 
        </div>
        <br>
        <div class="form-group">
            <label for="category">Select Category</label>
            <select name="category" id="category" class="form-control">
                <% for (let category of inflowCategories) { %> 
                    <option value="<%= category %>"><%= category %> </option>
                <% } %> 
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="notes">Source</label>
            <input type="text" name="notes" id="notes" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>