<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <h1>OUTFLOW</h1>
    <form action="/newOutflow" method="POST">
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" name="date" id="date" value=<%= today %> class="form-control" required="true">
        </div>
        <br>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" placeholder="amount" step="0.01" class="form-control" required="true">
        </div> 
        <br>
        <div class="form-group">
            <label for="category">Select Category</label>
            <select name="category" id="category" class="form-control" required="true">
                <% for (let category of outflowCategories) { %> 
                    <option value="<%= category %>"><%= category %> </option>
                <% } %> 
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="notes">Notes</label>
            <input type="text" name="notes" id="notes" required="true" class="form-control" list="note">
            <datalist id="note">
                <% for (let data of uniqueData) {%> 
                    <option value="<%= data %>">
                <% } %> 
            </datalist>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>